/* General */
div {
  border: 3px solid red;
}

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  width: 960px;
}

/* Navigation Bar */

.navigation-bar.container {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  margin-top:1rem;
  margin-bottom: 10rem;

}

.logo {
  display: flex;
}

img {
  height: 1.5rem;
  margin-right: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px 0px;
}

li {
  margin-right: 2rem;
}

/* Banner */

.banner {
  height: 30rem;
  background-image: url(/Users/sajover/Documents/Proyectos/Tortoiseshell_Optics/resources/images/glasses-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border: 5px solid green;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  background-color: white;
  padding: 1.5rem 5rem;
  width: 27rem;
}

.title h3{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;


}
